#header {
    text-align: center;
    border-bottom: 1px #cccccc solid;
}

#header h1 {
    margin: 20px 0 20px 0;
    letter-spacing: .2em;
}

#leftmenu {
    float: left;
    width: 100px;
    padding: 10px;
}

#leftmenu ul {
    margin: 0;
    padding: 0;
}

#leftmenu ul li {
    font-size: larger;
    list-style-type: none;
    margin: 0 10px 10px 0;
}

#leftmenu ul li a {
    display: block;
}

#leftmenu ul li.indented {
    margin-top: 20px;
}

#leftmenu ul li a:link, #leftmenu ul li a:visited, #leftmenu ul li a:active, #leftmenu ul li a:hover {
    text-decoration: none;
}

#leftmenu ul li a:link, #leftmenu ul li a:visited {
    color: #0000ff;
    background-color: #ffffff;
}

#leftmenu ul li a:active, #leftmenu ul li a:hover {
    color: #ffffff;
    background-color: #000000;
}

#leftmenu ul li a:link, #leftmenu ul li a:visited, #leftmenu ul li a:active, #leftmenu ul li a:hover {
    color: #000000;
    background-color: #ffffff;
}

#main {
    margin-left: 110px;
    border-left: 1px #cccccc solid;
    padding: 10px;
}

#main h2:first-child {
    margin: 0 0 10px 0;
}

#footer {
    text-align: right;
    border-top: 1px #cccccc solid;
    padding-right: 10px;
}

#footer p {
    font-size: smaller;
    font-style: italic;
}