{% extends "main.html" %}
{% block title %}
    Контакты
{% endblock %}
{% block main %}
    <h2>Контакты</h2>
    <h3>Телефоны</h3>
    <ul>
        <li>директор: хххххххххххххх;</li>
        <li>отдел продаж: хххххххххххххх;</li>
        <li>бухгалтерия: хххххххххххххх;</li>
    </ul>
    <h3>Электронная почта:</h3>
    <ul>
        <li>директор: <a href="#">dir@mail.ru</a>;</li>
        <li>отдел продаж: <a href="#">retail@mail.ru</a>;</li>
        <li>бухгалтерия: <a href="#">buh@mail.ru</a>;</li>
    </ul>
    <p>По поводу неполадок в работе сайта обращайтесь по адресу <a href="#">admin@mail.ru</a>.</p>
{% endblock %}